#about {
  justify-content: center;
  text-align: center;


  h1 {
    font: var(--font-title);
  }
 
  p {
    margin: auto;
    padding-block: 80px;
    width: 900px;

  }
  
  img {
    margin-bottom: 50px;
    padding: 4px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid var(--title-color);
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(242, 186, 19, 0.14);
  }
}


#skills {
  padding-block: 80px;
  text-align: center;
  background-color: rgba(135, 135, 140, 0.01); 
  
  ul {
    padding-top: 60px;
    gap: 30px;
  }
  
  li {
    display: flex;
    align-items: center;

    background-color: rgba(135, 135, 140, 0.20);
    font: 600 16px/140% var(--font-family);
    gap: 8px;
    padding: 4px 25px;
    border-radius: 16px;
    text-decoration: none; 
    
    &:hover {
      background-color: rgba(135, 135, 140, 0.10);
    }
  }
  
  img {
    width: 32px;
    height: 32px;
  }
}


#projects {
  text-align: center;
  padding-block: 80px;
  
  .card {
    width: 530px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    gap: 20px;
    padding-top: 60px;

    span {
      color: var(--title-color);
      font: 600 18px var(--font-family);
    }

    img {
      border-radius: 10px 10px 10px 10px;
      object-fit: cover;
      padding: 12px 12px;
    }
  }

  figure {
    display: flex;
    flex-flow: column;
    padding: 12px 12px;
    background-color: rgba(135, 135, 140, 0.20);
    border-radius: 12px 12px 12px 12px;
    /* box-shadow: 1px 1px 3px rgb(92, 90, 84); */
    
    
    p {
      margin-block: 12px;
      height: 48px;
    }

    a {
      font: 500 14px/170% var(--font-family);
      color: var(--title-color);
      
      &:hover {
        background-color: var(--bg-color);
        padding: 4px 16px;
        border-radius: 12px;
        color: var(--hover-color);
      }
    }
  }

  
}
  

#socials {
  padding-block: 80px;
  text-align: center;
  background-color: rgba(135, 135, 140, 0.01);
  
  &>div {
    margin-bottom: 48px;
  }

  a {
    display: inline-block;
  }
  
  .link-socials {
    margin: 0;
  }
  
  span {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;    
  }
  
  
  .link-socials-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
    margin-top: 12px;
    width: 280px;
    border-radius: 16px;
    background-color: rgba(135, 135, 140, 0.20);
    
    
    img {
      height: fit-content;
    }
    
    
    &:hover {
      background-color: rgba(135, 135, 140, 0.10);
    }
  }  
}

